


  <li (click)='addEmojis()' class=" nav-item home" routerLink=''>home</li>
  <li (click)='addEmojis()' class=" nav-item about" routerLink='about'>about</li>
  <li (click)='addEmojis()' class=" nav-item music" routerLink='music'>music</li>
  <li (click)='addEmojis()' class=" nav-item contact" routerLink='contact'>contact</li>
  <div class="click" (click)='addEmojis()'>

    <div class='emojis' *ngFor='let emoji of safeEmojis'>
      <div [innerHTML]=emoji></div>
    </div>
<router-outlet></router-outlet>
</div>
